.header {
  background: #3a3a3a;
  display: flex;
  justify-content: center;
  padding: 16px 0;
}

.top {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

p.header-text {
  font-family: "GTAmerica", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

.icon-search {
  width: 24px;
  height: 24px;
}

.right {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.icon-heart {
  width: 20px;
  height: 20px;
}

.account-outside {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-account {
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.36);
  border-radius: 8px;
  padding: 6px;
}

.link:hover {
  text-decoration: none;
  color: #3a3a3a;
}
