.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  gap: 24px;
  width: 100%;
  justify-items: center;
}

.card {
  width: 282px;
  height: 180px;
  background-color: #fff;
  border-radius: 20px;

  text-align: center;
  padding: 24px;
  box-sizing: border-box;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.tags {
  display: flex;
  gap: 12px;
}

.tag {
  height: 24px;
  background-color: #f1f5f9;
  border-radius: 12px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  font-size: 9px;
  box-sizing: border-box;
  gap: 5px;
}

.icon {
  height: 16px;
  width: 16px;
}

.name-content {
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: left;
}

.author {
  font-size: 16px;
  margin: 0;
}

.link {
  display: inline-block;
  margin-top: 4px;
  font-size: 14px;
  color: #1e89f0;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-more {
  background-color: #d44333;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  height: 32px;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  box-sizing: border-box;
  margin-left: 18px;
}

.btn-icons {
  display: flex;
  gap: 16px;
}

.copy-icon {
  width: 23px;
  height: 23px;
  border-radius: 8px;
  border: 1px solid rgba(58, 58, 58, 0.12);
  padding: 4px;
}

.like-icon {
  width: 32px;
  height: 32px;
}
