.general {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.profile-card {
  background-color: #fff;
  width: 100%;
  max-width: 862px;
  min-height: 544px;

  border-radius: 20px;
  padding: 32px 32px;
  box-sizing: border-box;

  margin-top: 85px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

p.profile {
  font-size: 28px;
  font-weight: 600;
  text-align: left;
  margin: 0;
}

/* Card Title */
.title-container {
  display: flex;
  gap: 24px;
}

.avatar-container {
  margin-right: 10px;
}

.avatar-title {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  object-fit: cover;
}

.info-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 24px;
}

.full-name {
  font-size: 24px;
  font-weight: bold;
  color: #3a3a3a;
  margin: 0;
}

.description {
  font-size: 20px;
  color: #3a3a3a;
  margin: 0;
}

@media (max-width: 600px) {
  .title-container {
    flex-wrap: wrap;
  }

  .info-container {
    flex-grow: 1;
  }
}

/* Short Info */
.short-info-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.info-card {
  height: 80px;
  width: 250px;
  background-color: rgba(58, 58, 58, 0.04);
  border-radius: 20px;

  display: flex;
  align-items: center;

  gap: 16px;
  padding: 0 16px;
  box-sizing: border-box;
}

.info-icon {
  height: 16px;
  width: 16px;

  padding: 8px;
  background-color: rgba(58, 58, 58, 0.08);
  border-radius: 50px;
}

.info-text {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.info-value {
  font-size: 20px;
  color: #3a3a3a;
  margin: 0;
}

.info-description {
  font-size: 14px;
  color: #84868c;
  margin: 0;
}

/* Divider */
.divider {
  height: 1px;
  width: 100%;
  background-color: rgba(33, 34, 35, 0.08);
}

/*Buttons */
.card-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.btn-open {
  background-color: #d44333;
  color: #fff;
  font-size: 16px;
  height: 40px;
  border-radius: 8px;
  border: none;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  text-decoration: none;
}

.btn-open:active {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-btn-icons {
  display: flex;
  gap: 32px;
}

.card-copy-icon {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid rgba(58, 58, 58, 0.12);
  padding: 4px;
  cursor: pointer;
}

.card-copy-icon:active {
  background-color: rgba(58, 58, 58, 0.1);
}

.card-like-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
