/* General */
.general-outside {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

/* Search */
.search-outside {
  margin-top: 48px;

  height: 48px;
  max-width: 1200px;
  width: 100%;
  background-color: #fff;
  border-radius: 12px;

  display: flex;
  padding: 0 20px;
  box-sizing: border-box;
}

.search-input {
  width: 100%;
  background-color: #fff;
  border: 0;
  outline: none;

  color: #3a3a3a;
  font-size: 16px;
}

.search-input::placeholder {
  color: rgba(58, 58, 58, 0.32);
  font-size: 16px;
}
