/* Header */
.header {
  background: #3a3a3a;
  display: flex;
  justify-content: center;
  padding: 16px 0;
}

.top {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

p.header-text {
  font-family: "GTAmerica", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

.icon-search {
  width: 24px;
  height: 24px;
}

.right {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.icon-heart {
  width: 20px;
  height: 20px;
}

.account-outside {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-account {
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.36);
  border-radius: 8px;
  padding: 6px;
}

/* General */
.general-outside {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

/* Search */
.search-outside {
  margin-top: 48px;

  height: 48px;
  max-width: 1200px;
  width: 100%;
  background-color: #fff;
  border-radius: 12px;

  display: flex;
  padding: 0 20px;
  box-sizing: border-box;
}

.search-input {
  width: 100%;
  background-color: #fff;
  border: 0;
  outline: none;

  color: #3a3a3a;
  font-size: 16px;
}

.search-input::placeholder {
  color: rgba(58, 58, 58, 0.32);
  font-size: 16px;
}

/* Result */
.result-general {
  margin-top: 48px;
  height: 48px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p.result-title {
  color: #101828;
  font-size: 22px;
  font-weight: 600;
}

.result-sort {
  height: 48px;
  width: 286px;

  background-color: #fff;
  border-radius: 12px;

  display: flex;
  padding: 0 20px;
  box-sizing: border-box;
}

.sort-select {
  background-color: #fff;
  color: #161616;
  font-size: 16px;
  border: 0;
  width: 100%;
  outline: none;
}

