/* General */
.general-outside {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

/* Search */
.search-outside {
  margin-top: 48px;

  height: 48px;
  max-width: 1200px;
  width: 100%;
  background-color: #fff;
  border-radius: 12px;

  display: flex;
  padding: 0 20px;
  box-sizing: border-box;
}

.search-input {
  width: 100%;
  background-color: #fff;
  border: 0;
  outline: none;

  color: #3a3a3a;
  font-size: 16px;
}

.search-input::placeholder {
  color: rgba(58, 58, 58, 0.32);
  font-size: 16px;
}

/* Result */
.result-general {
  margin-top: 48px;
  margin-bottom: 48px;
  height: 48px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p.result-title {
  color: #101828;
  font-size: 22px;
  font-weight: 600;
}

.result-sort {
  height: 48px;
  width: 286px;

  background-color: #fff;
  border-radius: 12px;

  display: flex;
  padding: 0 20px;
  box-sizing: border-box;
}

.sort-select {
  background-color: #fff;
  color: #161616;
  font-size: 16px;
  border: 0;
  width: 100%;
  outline: none;
}

