/* Header */
.header {
  background: #3a3a3a;
  display: flex;
  padding: 16px 0;
}

.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 120px;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

p.header-text {
  font-family: "GTAmerica", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

.icon-search {
  width: 24px;
  height: 24px;
}

.right {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.icon-heart {
  width: 20px;
  height: 20px;
}

.account-outside {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-account {
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.36);
  border-radius: 8px;
  padding: 6px;
}

/* General */
.general-outside {
  padding: 0 120px;
}

/* Search */
.search-outside{
  margin-top: 48px;

  height: 48px;
  background-color: #fff;
  border-radius: 12px;

  display: flex;
  padding: 0 20px;
}

.search-input {
  width: 100%;
  background-color: #fff;
  border: 2px solid transparent;
  outline: none;

  color: #3a3a3a;
  font-size: 16px;
}

.search-input::placeholder {
  color: rgba(58, 58, 58, 0.32);
  font-size: 16px;
}
