@font-face {
  font-family: 'NotoSans';
  src: url('./assets/fonts/NotoSans-VariableFont_wdth,wght.ttf') format('ttf');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'GTAmerica';
  src: url('./assets/fonts/GT-America-Standard-Regular-Trial.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GTAmerica';
  src: url('./assets/fonts/GT-America-Standard-Bold-Trial.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

:root {
  font-family: 'NotoSans', sans-serif;

  background: rgba(58, 58, 58, 0.04);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  place-items: center;
  max-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
